101 DIALOG 120, 100, 304, 206
STYLE WS_MINIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "OpenGL"
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
FONT 8, "HELV"
{
   CONTROL "0.0", 2001, "EDIT", 0x50810000, 10, 20, 27, 14 
   CONTROL "0.0", 2002, "EDIT", 0x50810000, 45, 20, 27, 14 
   CONTROL "1.0", 2003, "EDIT", 0x50810000, 80, 20, 27, 14 
   CONTROL "Modify", 7001, "BUTTON", 0x50018000, 10, 183, 60, 14 
   CONTROL "Angle:", 0, "STATIC", 0x50020000, 10, 5, 23, 10 
   CONTROL "Speed:", 0, "STATIC", 0x50020000, 10, 164, 24, 11 
   CONTROL "1.0", 4001, "EDIT", 0x50810000, 39, 162, 30, 14 
   CONTROL "Structure", 999, "BUTTON", 0x50000007, 120, 17, 174, 181 
   CONTROL "About", 56, "BUTTON", 0x50018000, 76, 183, 35, 14 
   CONTROL "Grid points:", 0, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 45, 38, 12 
   CONTROL "First:", 0, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 60, 18, 10 
   CONTROL "Second:", 0, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 90, 28, 9 
   CONTROL "Third:", 0, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 120, 21, 10 
   CONTROL "X", 0, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 50, 45, 8, 9 
   CONTROL "Y", 0, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 80, 45, 8, 9 
   CONTROL "-1.0", 0, EDIT, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 40, 70, 20, 14 
   CONTROL "0.0", 0, EDIT, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 75, 70, 20, 14 
   CONTROL "0.87", 0, EDIT, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 40, 100, 20, 14 
   CONTROL "-0.5", 0, EDIT, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 75, 100, 20, 14 
   CONTROL "-0.87", 0, EDIT, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 40, 130, 20, 14 
   CONTROL "-0.5", 0, EDIT, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 75, 130, 20, 14 
}
